<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="DonyMus">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/images/logo-mandat.png">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="https://aksisoftsby.github.io/prettydocs/assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="https://aksisoftsby.github.io/prettydocs/assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="https://aksisoftsby.github.io/prettydocs/assets/plugins/prism/prism.css">
    <link rel="stylesheet" href="https://aksisoftsby.github.io/prettydocs/assets/plugins/elegant_font/css/style.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="https://aksisoftsby.github.io/prettydocs/assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% seo %}

  </head> 
  <body class="body-orange">
    <div class="page-wrapper">
      <!-- ******Header****** -->
      <header id="header" class="header">
        <div class="container">
          <div class="branding">
            <h1 class="logo">
              <a href="/">
                <span aria-hidden="true" class="icon_documents_alt icon"></span>
                <span class="text-highlight">Mandat</span><span class="text-bold">app</span>
              </a>
            </h1>
          </div><!--//branding-->
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">{{ page.title }}</li>
          </ol>
        </div><!--//container-->
      </header><!--//header-->