{% include doc_header.html %}
{{ content }}
<!-- Main Javascript -->          
<script type="text/javascript" src="https://aksisoftsby.github.io/prettydocs/assets/plugins/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="https://aksisoftsby.github.io/prettydocs/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://aksisoftsby.github.io/prettydocs/assets/plugins/prism/prism.js"></script>    
<script type="text/javascript" src="https://aksisoftsby.github.io/prettydocs/assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>                                                                
<script type="text/javascript" src="https://aksisoftsby.github.io/prettydocs/assets/plugins/jquery-match-height/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="https://aksisoftsby.github.io/prettydocs/assets/js/main.js"></script>
</body>
</html>