<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    {% seo %}
    <meta name="author" content="Donymus">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/mandat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/javascript/mandat.js"></script>
    <link rel="icon" type="image/png" href="/images/logo-mandat-kotak-400.png">

  </head>
  <body class="code-snippets-visible">

    {{ content }}
    <div class="container">
      <div class="docs-section" id="social-media">
        <h6 class="docs-header">Social MEDIA groups
          <a href="#social-media"><i class="fa fa-chain"></i></a>
        </h6>
        <a href="https://chat.whatsapp.com/4SXlBCzt5ll1Of3SVuCL6V" class="button button-info">
          <i class="fa fa-whatsapp fa-1x"></i> Whatsapp
        </a>
        <a href="http://t.me/mandatapp" class="button button-info">
          <i class="fa fa-telegram fa-1x"></i> Telegram
        </a>
      </div>
    </div>
    <div class="container">
      <div class="docs-section" id="footer">
        <p>&copy; Mandat-app by Aksisoft MEDIA | admin@aksisoft.com | 081230097386</p>
      </div>
    </div>
    <!-- End Document
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>
